language: go

go:
  - 1.3
  - 1.4
  - 1.5
  - 1.6
  - 1.7
  - master
matrix:
  allow_failures:
  - go: 1.3
  - go: 1.4
before_install:
  - go get github.com/mattn/goveralls
script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
